{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

{% extends 'CaseStoreBundle::base.html.twig' %}


{% block title %}Field Value{% endblock %}



{% block main %}


    <ol class="breadcrumb">
        <li><a href="{{ path('case_store_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
        <li class="active"><a href="{{  path('case_store_project_case_study_select_field', { 'projectId':project.publicId,'fieldId':caseStudyFieldDefinition.publicId }) }}">Field {{ caseStudyFieldDefinition.title }}</a></li>
        <li class="active">Option {{ option.title }}</li>
    </ol>


    {%  if  caseStudies %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {%  for caseStudy in caseStudies %}
                <tr>
                    <td>
                        <a href="{{ path('case_store_case_study', { 'projectId':project.publicId,'caseStudyId':caseStudy.publicId }) }}">{{  caseStudy.titleOrPlaceHolder }}</a>
                    </td>
                    <td>
                        {{  caseStudy.description | truncate(1000)| nl2br }}
                    </td>
                    <td>
                        <a href="{{ path('case_store_case_study', { 'projectId':project.publicId,'caseStudyId':caseStudy.publicId }) }}" class="btn btn-default">View</a>
                    </td>
                </tbody>
            {%  endfor %}
        </table>
    {% else %}
        <p>There are no case studies for Option {{  option.title }}</p>
    {% endif %}


{%  endblock %}

