{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

{% extends 'CaseStoreBundle::base.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('case_store_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
        <li class="active">Case Study</li>
    </ol>

    <h1>Case Study</h1>

    {%  for fieldDefinition in fieldDefinitions %}
        <div class="caseStudyDataLabel">
            {{  fieldDefinition.title }}
            {%  if fieldDefinition.isCaseStudyUsersOnly %}<div class="glyphicon glyphicon-eye-close" title="Only Staff Involved Can See This"></div>{%  endif %}
        </div>
        {%  if fieldValues[fieldDefinition.publicId] is defined and fieldValues[fieldDefinition.publicId] %}
            {% if fieldDefinition.isTypeString %}
                <div>{{ fieldValues[fieldDefinition.publicId].value  }}</div>
            {% elseif fieldDefinition.isTypeInteger %}
                <div>{{ fieldValues[fieldDefinition.publicId].value  }}</div>
            {% elseif fieldDefinition.isTypeText %}
                <div>{{ fieldValues[fieldDefinition.publicId].value  | nl2br }}</div>
            {% elseif fieldDefinition.isTypeSelect %}
                {%  for value in fieldValues[fieldDefinition.publicId]  %}
                    <div>{{ value.option.title }}</div>
                {% endfor %}
            {%  endif %}
        {%  endif %}
        <div></div>
    {%  endfor %}

    {%  if users %}
        <div class="caseStudyDataLabel">Staff Involved</div>
        <ul>
            {%  for user in users %}
                <li>{{  user.username }} <a href="mailto:{{  user.email }}?subject=CaseStudy&body={{  app.request.getSchemeAndHttpHost() }}{{ path('case_store_case_study', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId }) }}">Email them about this</a></li>
            {%  endfor %}
        </ul>
    {%  endif %}

    {%  if documents %}
        <div class="caseStudyDataLabel">Documents</div>
        <ul>
            {%  for document in documents %}
                <li>
                    <div>
                        {{  document.title }}
                        {%  if document.isCaseStudyUsersOnly %}<div class="glyphicon glyphicon-eye-close" title="Only Staff Involved Can See This"></div>{%  endif %}
                    </div>
                    <div><a href="{{ path('case_store_case_study_document_download', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId,'documentId':document.publicId  }) }}">Download {{ document.originalFileName }}</a></div>
                </li>
            {%  endfor %}
        </ul>
    {%  endif %}

    {%  if locations %}
        <div class="caseStudyDataLabel">Locations</div>
        <div id="Map" style="width: 100%; height: 300px;"></div>
    {%  endif %}

    {%  if comments %}
        <div class="caseStudyDataLabel">Comments</div>
        <ul class="caseStudyCommentList">
            {%  for comment in comments %}
                <li class="caseStudyComment">
                   <div class="caseStudyCommentBody">{{  comment.body | nl2br }}</div>
                   <div class="caseStudyCommentDetails">Posted by {{  comment.addedBy.username }}</div>
                </li>
            {%  endfor %}
        </ul>
    {%  endif %}

    {%  if outputs %}
        <div class="caseStudyDataLabel">Outputs using this</div>
        <ul class="caseStudyOutputList">
            {%  for output in outputs %}
                <li class="caseStudyOutput">
                    <div>
                        <a href="{{ path('case_store_output', { 'projectId':project.publicId,'outputId':output.publicId }) }}">{{  output.titleOrPlaceHolder }}</a>
                    </div>
                    <div>
                        {{  output.description | nl2br }}
                    </div>
                </li>
            {%  endfor %}
        </ul>
    {%  endif %}

    <ul class="list-group">
        {%  if newCommentAllowed %}
            <li class="list-group-item"><a href="{{  path('case_store_case_study_new_comment', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId }) }}" class="btn btn-warning">New Comment</a></li>
        {%  endif %}
        {%  if newOutputAllowed %}
            <li class="list-group-item"><a href="{{  path('case_store_new_output', { 'projectId':project.publicId }) }}?caseStudy={{ caseStudy.publicId }}" class="btn btn-warning">New Output using this Case Study</a></li>
        {%  endif %}
        {%  if editAccessAllowed %}
            {%  for fieldDefinition in fieldDefinitions %}
                <li class="list-group-item"><a href="{{ path('case_store_case_study_edit_field', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId, 'fieldDefinitionId':fieldDefinition.publicId }) }}" class="btn btn-warning">Edit {{ fieldDefinition.title  }}</a></li>
            {%  endfor %}
            <li class="list-group-item"><a href="{{  path('case_store_case_study_edit_users', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId }) }}" class="btn btn-warning">Edit Staff Involved</a></li>
            <li class="list-group-item"><a href="{{  path('case_store_case_study_edit_locations', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId }) }}" class="btn btn-warning">Edit Locations</a></li>
            <li class="list-group-item"><a href="{{  path('case_store_case_study_new_document', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId }) }}" class="btn btn-warning">New Document</a></li>
        {%  endif %}
    </ul>

{%  endblock %}

{% block javascript %}
    {%  if locations %}
        <script>
            var mapObject;
            var mapData = [];
            {%  for location in locations %}
                mapData.push({ lat: {{  location.lat}}, lng: {{  location.lng }} });
            {%  endfor %}

            $( document ).ready(function() {
                mapObject = L.map('Map').setView([57.04199, -3.55957], 6);

                var mapquestUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
                        subDomains = ['otile1','otile2','otile3','otile4'],
                        mapquestAttrib = 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, '+
                                '<a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors';
                L.tileLayer(mapquestUrl, {maxZoom: 18, attribution: mapquestAttrib, subdomains: subDomains}).addTo(mapObject);

                for (idx in mapData) {
                    L.marker([ mapData[idx].lat, mapData[idx].lng]).addTo(mapObject);
                }

            });
        </script>
    {%  endif %}
{% endblock %}
