{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

{% extends 'CaseStoreBundle::base.html.twig' %}


{% block title %}Case Study{% endblock %}



{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('case_store_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
        <li class="active">Case Study</li>
    </ol>

    <h1>Case Study</h1>

    {%  for fieldDefinition in fieldDefinitions %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{  fieldDefinition.title }}
                    {%  if fieldDefinition.isCaseStudyUsersOnly %}<div class="glyphicon glyphicon-eye-close" title="Only Staff Involved Can See This"></div>{%  endif %}
                    {%  if editAccessAllowed %}
                        <a href="{{ path('case_store_case_study_edit_field', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId, 'fieldDefinitionId':fieldDefinition.publicId }) }}"><span class="glyphicon glyphicon-pencil editicon" aria-hidden="true"></a>
                    {%  endif %}
                </h3>
            </div>
            <div class="panel-body">
                {%  if fieldValues[fieldDefinition.publicId] is defined and fieldValues[fieldDefinition.publicId] %}
                    {% if fieldDefinition.isTypeString %}
                        <div>{{ fieldValues[fieldDefinition.publicId].value  }}</div>
                    {% elseif fieldDefinition.isTypeInteger %}
                        <div>{{ fieldValues[fieldDefinition.publicId].value  }}</div>
                    {% elseif fieldDefinition.isTypeText %}
                        <div>{{ fieldValues[fieldDefinition.publicId].value  | nl2br }}</div>
                    {% elseif fieldDefinition.isTypeSelect %}
                        {%  for value in fieldValues[fieldDefinition.publicId]  %}
                            <div>{{ value.option.title }}</div>
                        {% endfor %}
                    {%  endif %}
                {%  endif %}
            </div>
        </div>
    {%  endfor %}

    <div class="panel panel-default">
        <div class="panel-heading has-supportext">
            <h3 class="panel-title">Staff Involved<br>
                <span class="supporting-text">(You must always talk to one of the involved staff before using or contacting a case study!)</span>
            </h3>
            {%  if editAccessAllowed %}
                <a href="{{  path('case_store_case_study_edit_users', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId }) }}"><span class="glyphicon glyphicon-pencil editicon" aria-hidden="true"></a>
            {%  endif %}
        </div>
        <div class="panel-body">
            <ul>
                {%  for user in users %}
                    <li>{{  user.username }} <a href="mailto:{{  user.email }}?subject=CaseStudy&body={{  app.request.getSchemeAndHttpHost() }}{{ path('case_store_case_study', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId }) }}">Email them about this</a></li>
                {%  else %}
                    None.
                {%  endfor %}
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Documents<br>
            </h3>
        </div>
        <div class="panel-body">
            {%  for document in documents %}
                <li>
                    <div>
                        {{  document.title }}
                        {%  if document.isCaseStudyUsersOnly %}<div class="glyphicon glyphicon-eye-close" title="Only Staff Involved Can See This"></div>{%  endif %}
                    </div>
                    <div><a href="{{ path('case_store_case_study_document_download', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId,'documentId':document.publicId  }) }}">Download {{ document.originalFileName }}</a></div>
                </li>
            {%  else %}
                None.
            {%  endfor %}

            {%  if editAccessAllowed %}
                <div class="pull-right">
                    <a href="{{  path('case_store_case_study_new_document', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId }) }}" class="btn btn-warning">New Document</a>
                </div>
            {%  endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Locations<br>
                {%  if editAccessAllowed %}
                    <a href="{{  path('case_store_case_study_edit_locations', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId }) }}"><span class="glyphicon glyphicon-pencil editicon" aria-hidden="true"></a>
                {%  endif %}
            </h3>
        </div>
        <div class="panel-body">
            {%  if locations %}
                <div id="Map" style="width: 100%; height: 300px;"></div>
            {% else %}
                Not known.
            {%  endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Comments<br>

            </h3>
        </div>
        <div class="panel-body">
            {%  for comment in comments %}
                <li class="caseStudyComment">
                    <div class="caseStudyCommentBody">{{  comment.body | nl2br }}</div>
                    <div class="caseStudyCommentDetails">Posted by {{  comment.addedBy.username }}</div>
                </li>
            {%  else %}
                None.
            {%  endfor %}
            {%  if newCommentAllowed %}
                <div class="pull-right">
                    <a href="{{  path('case_store_case_study_new_comment', { 'projectId':project.publicId, 'caseStudyId':caseStudy.publicId }) }}" class="btn btn-warning">Add comment</a>
                </div>
            {%  endif %}
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Outputs using this<br>

            </h3>
        </div>
        <div class="panel-body">
            {%  if outputs %}
                <ul class="caseStudyOutputList">
                    {%  for output in outputs %}
                        <li class="caseStudyOutput">
                            <div>
                                <a href="{{ path('case_store_output', { 'projectId':project.publicId,'outputId':output.publicId }) }}">{{  output.titleOrPlaceHolder }}</a>
                            </div>
                            <div>
                                {{  output.description | nl2br }}
                            </div>
                        </li>
                    {%  endfor %}
                </ul>
            {%  else %}
                None.
            {%  endif %}

            {%  if newOutputAllowed %}
                <div class="pull-right">
                    <a href="{{  path('case_store_case_study_link_output', { 'projectId':project.publicId,'caseStudyId':caseStudy.publicId }) }}" class="btn btn-warning">Link to Output</a>
                </div>
            {%  endif %}
        </div>
    </div>

    <div class="pull-right">
        Case Study ID: {{  caseStudy.publicId }}
    </div>


{%  endblock %}

{% block javascript %}
    {%  if locations %}
        <script>
            var mapObject;
            var mapData = [];
            {%  for location in locations %}
                mapData.push({ lat: {{  location.lat}}, lng: {{  location.lng }} });
            {%  endfor %}

            $( document ).ready(function() {
                mapObject = L.map('Map', { scrollWheelZoom: false }).setView([57.04199, -3.55957], 6);

                var mapquestUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
                        subDomains = ['otile1','otile2','otile3','otile4'],
                        mapquestAttrib = 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, '+
                                '<a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors';
                L.tileLayer(mapquestUrl, {maxZoom: 18, attribution: mapquestAttrib, subdomains: subDomains}).addTo(mapObject);

                for (idx in mapData) {
                    L.marker([ mapData[idx].lat, mapData[idx].lng]).addTo(mapObject);
                }

            });
        </script>
    {%  endif %}
{% endblock %}
