{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

{% extends 'CaseStoreBundle::base.html.twig' %}

{% block main %}




    <ol class="breadcrumb">
        <li><a href="{{ path('case_store_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
        <li><a href="{{ path('case_store_project_admin', { 'projectId':project.publicId }) }}">Project Admin</a></li>
        <li class="active">New Case Study Field Definition</li>
    </ol>




    <section class="">

        <form class="styled" action="" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            {{ form_rest(form) }}

            <input type="submit" value="Create New Case Study Field Definition" />
    
        </form>

    </section>



{%  endblock %}

{% block javascript %}
    {% javascripts
    '@CaseStoreBundle/Resources/public/js/newCaseStudyFieldDefinitionSlug.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

