{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

{% extends 'CaseStoreBundle::base.html.twig' %}


{% block title %}New Option{% endblock %}



{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('case_store_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
        <li><a href="{{ path('case_store_project_admin', { 'projectId':project.publicId }) }}">Project Admin</a></li>
        <li><a href="{{  path('case_store_project_admin_case_study_field_definitions', { 'projectId':project.publicId }) }}">Case Study Field Definitions</a></li>
        <li><a href="{{ path('case_store_project_admin_case_study_field_definition', { 'projectId':project.publicId,'caseStudyFieldDefinitionId':caseStudyFieldDefinition.publicId }) }}">Case Study Field Definition</a></li>
        <li class="active">New Option</li>
    </ol>



    <section class="">

        <form class="styled" action="" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            {{ form_rest(form) }}

            <input type="submit" value="Create New Option" class="btn btn-warning" />
    
        </form>

    </section>



{%  endblock %}



{% block javascript %}
    {% javascripts
    '@CaseStoreBundle/Resources/public/js/newCaseStudyFieldOptionDefinitionSlug.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

