{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

{% extends 'CaseStoreBundle::base.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('case_store_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
        <li class="active">Output</li>
    </ol>

    <h1>Output</h1>

    {%  for fieldDefinition in fieldDefinitions %}
        <div class="caseStudyDataLabel">{{  fieldDefinition.title }}</div>
        {%  if fieldValues[fieldDefinition.publicId] is defined and fieldValues[fieldDefinition.publicId] %}
            {% if fieldDefinition.isTypeString %}
                <div>{{ fieldValues[fieldDefinition.publicId].value  }}</div>
            {% elseif fieldDefinition.isTypeText %}
                <div>{{ fieldValues[fieldDefinition.publicId].value  | nl2br }}</div>
            {%  endif %}
        {%  endif %}
        <div></div>
    {%  endfor %}

    {%  if caseStudies %}
        <div class="caseStudyDataLabel">CaseStudies involved</div>
        <ul class="caseStudyOutputList">
            {%  for caseStudy in caseStudies %}
                <li>
                    <div>
                        <a href="{{ path('case_store_case_study', { 'projectId':project.publicId,'caseStudyId':caseStudy.publicId }) }}">{{  caseStudy.titleOrPlaceHolder }}</a>
                    </div>
                    <div>
                        {{  caseStudy.description | nl2br }}
                    </div>
                </li>
            {%  endfor %}
        </ul>
    {%  endif %}

    <ul class="list-group">
        {%  if editAccessAllowed %}
            {%  for fieldDefinition in fieldDefinitions %}
                <li class="list-group-item"><a href="{{ path('case_store_output_edit_field', { 'projectId':project.publicId, 'outputId':output.publicId, 'fieldDefinitionId':fieldDefinition.publicId }) }}" class="btn btn-warning">Edit {{ fieldDefinition.title  }}</a></li>
            {%  endfor %}
        {%  endif %}
    </ul>

{%  endblock %}
