{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

{% extends 'CaseStoreBundle::base.html.twig' %}

{% block main %}


    <ol class="breadcrumb">
        <li><a href="{{ path('case_store_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
        <li class="active">Case Studies</li>
    </ol>

    <ul>
        {%  for caseStudy in caseStudies %}
            <li>
                <div>
                    <a href="{{ path('case_store_case_study', { 'projectId':project.publicId,'caseStudyId':caseStudy.publicId }) }}">{{  caseStudy.titleOrPlaceHolder }}</a>
                </div>
                <div>
                    {{  caseStudy.description | nl2br }}
                </div>
            </li>
        {%  endfor %}
    </ul>

{%  endblock %}