{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

{% extends 'CaseStoreBundle::base.html.twig' %}

{% block title %}My Case Studies{% endblock %}

{% block main %}


    <ol class="breadcrumb">
        <li><a href="{{ path('case_store_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
        <li class="active">My Case Studies</li>
    </ol>

    {%  if  caseStudies %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
                {%  for caseStudy in caseStudies %}
                    <tr>
                        <td>
                            <a href="{{ path('case_store_case_study', { 'projectId':project.publicId,'caseStudyId':caseStudy.publicId }) }}">{{  caseStudy.titleOrPlaceHolder }}</a>
                        </td>
                        <td>
                            {{  caseStudy.description | nl2br }}
                        </td>
                        <td>
                            <a href="{{ path('case_store_case_study', { 'projectId':project.publicId,'caseStudyId':caseStudy.publicId }) }}" class="btn btn-default">View</a>
                        </td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no Case Studies in Project {{  project.title }}</p>
    {% endif %}

{%  endblock %}

