{#
# @license 3-clause BSD
# @link https://github.com/CaseStore/CaseStore-Core
#}

{% extends 'CaseStoreBundle::base.html.twig' %}


{% block title %}Outputs{% endblock %}


{% block main %}


    <ol class="breadcrumb">
        <li><a href="{{ path('case_store_project', { 'projectId':project.publicId }) }}">Project {{  project.title }}</a></li>
        <li class="active">Outputs</li>
    </ol>




    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {%  for output in outputs %}
            <tr>
                <td>
                    <a href="{{ path('case_store_output', { 'projectId':project.publicId,'outputId':output.publicId }) }}">{{  output.titleOrPlaceHolder }}</a>
                </td>
                <td>
                    {{  output.description | nl2br }}
                </td>
                <td>
                    <a href="{{ path('case_store_output', { 'projectId':project.publicId,'outputId':output.publicId }) }}" class="btn btn-default">View</a>
                </td>
            </tr>
        {%  else %}
            <tr>
                <td colspan="3">No Outputs</td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>

{%  endblock %}

